/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Oleo+Script&family=Raleway&family=Source+Code+Pro:wght@300;400&display=swap");
/* ROOT STYLES */
:root {
  /* background and font colors */
  --bg--light: rgba(15, 76, 116, 0.883);
  --bg--dark: rgb(26, 132, 185);
  --light: white;
  --dark: #000;
  --grey: grey;
  --logo: rgb(26, 180, 232);
  --animation: rgba(243, 216, 61, 0.993);
  --button: rgba(255, 119, 0, 0.779);
  --button--hover: rgba(225, 194, 39, 0.993);
  --search: transparent;

  /* font styles */
  --font-family: "Source Code Pro", monospace;
  --font-family-title: "Noto Sans Mono", monospace;
  --font-family-text: "Raleway", sans-serif;
  --font-family-logo: "Oleo Script", cursive;

  /* font sizes */
  --font-smaller: 0.8rem;
  --font-small: 1.2rem;
  --font-medium: 1.5rem;
  --font-large: 2.2rem;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--light);
  backdrop-filter: blur(2px);
  font-family: var(--font-family);
  font-size: var(--font-small);
  line-height: 1.75;
  overflow-x: hidden;
}

h1 {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
}

/* MAIN CONTENT STYLES */
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

/* FOOTER STYLES */
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: var(--font-smaller);
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}



