.home__content--box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 2.5rem;
}

.home__content {
  width: 100%;
  /* max-width: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--light);
}

.home__content--greeting {
  font-size: var(--font-large);
  margin-bottom: 2rem;
}

.home__content--text, span {
  font-size: var(--font-large);
}

.home__content--paragraph {
  font-size: var(--font-medium);
  margin: 2rem 0;
  /* padding: 2rem; */
}

span::before {
  content: "Developer Advocate?";
  animation: animate infinite 3s;
  /* padding-left: 10px; */
  color: var(--animation);
}

@keyframes animate {
  0% {
    content: "Tech Professional?";
  }

  50% {
    content: "Software Engineer?";
  }

  75% {
    content: "Product Designer?";
  }
}

.join__btn {
  width: 100%;
  max-width: 150px;
  padding: 0.8rem;
  background: transparent;
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  font-size: var(--font-small);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
