/* PAGE404 STYLES */
.page404__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
  }
  
  .page404__title {
    font-size: var(--font-large);
    font-weight: var(--font-weight-medium);
  }
  
  .page404__image {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
  }
  
  .page404__message {
    font-size: var(--font-small);
    font-weight: var(--font-weight-small);
    text-align: center;
  }
  
  .page404__link {
    width: 100%;
    max-width: 200px;
    margin: 1rem 0;
    padding: 0.8rem 1.5rem;
    text-align: center;
    font-size: var(--font-smaller);
    background-color: var(--button);
    color: white;
    text-decoration: none;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }
  