/* PAGE404 STYLES */
.page404__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem auto;
  }
  
  .page404__title {
    font-size: var(--font-large);
    font-weight: var(--font-weight-medium);
  }
  
  .page404__image {
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
  }
  
  .page404__message {
    font-size: var(--font-small);
    font-weight: var(--font-weight-small);
    text-align: center;
  }
  
 /* MEDIA QUERIES */
 @media screen and (max-width: 460px) {
   .page404__content {
     margin: 1rem;
   }
   .page404__title {
     font-size: var(--font-medium);
   }
   .page404__image {
    width: 100%;
   }
   .page404__message {
     font-size: var(--font-small);
     padding: 0 1rem;
   }
 }
  