/* PROFILE PAGE */
.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.profile__greeting {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-bold);
  margin-top: 1rem;
}

/* EVENT SECTION */
.event__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}

.event__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 3rem;
  padding: 1rem;
  align-items: center;
}

.event__card {
  background-color: var(--bg--light);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: #d9d9ea 0px 0px 10px 0px;
}

.event__card:hover {
  background-color: rgba(15, 76, 116, 0.683);
}

.event__register {
  width: 100%;
  max-width: 150px;
  text-align: center;
  background-color: var(--light);
  color: var(--dark);
  font-weight: var(--font-weight-bold);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.event__register:hover {
  background-color: rgba(24, 22, 22, 0.491);
  color: var(--light);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .profile__greeting{
    font-size: var(--font-small);
    margin: 1rem;
  }
  .event__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .event__card {
    max-width: 400px;
  }

  .event__register {
    width: 100%;
  }
}
