/* SIGNIN PAGE */
.signin__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  text-align: center;
}

.signin__form {
  width: 100%;
  max-width: 400px;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg--light);
  box-shadow: 0 0 10px rgba(197, 207, 208, 0.865);
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 1rem;
  font-family: var(--font-family-text);
  font-size: var(--font-medium);
  letter-spacing: 1px;
}

.signin__heading {
  font-size: var(--font-large);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
  margin-bottom: 1rem;
}

.signin__input {
  width: 300px;
  max-width: 400px;
  padding: 0.8rem;
  margin: 1rem 0;
  border: 1px solid var(--light);
  border-radius: 5px;
  outline: none;
  color: var(--dark);
  font-size: var(--font-small);
}

.signin__button {
  width: 100%;
  max-width: 150px;
  margin: 1rem 0;
  padding: 0.8rem;
  background: transparent;
  color: var(--light);
  border: 1px solid var(--light);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-small);
}

.signin__button:hover {
  background-color: var(--bg--dark);
  color: var(--light);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
   .signin__form {
    max-width: 330px;
    padding: 2rem;
  }

  .signin__heading {
    font-size: var(--font-medium);
    margin-bottom: 1rem;
  }

  .signin__input {
    width: 100%;
    background-color: transparent;
    color: var(--light);
    padding: 1.5rem;
  }

  .signin__input::placeholder {
    font-size: var(--font-small);
    color: var(--grey);
  }

  .signin__button {
    margin: 1rem 0;
    background-color: var(--light);
    color: var(--bg--dark);
  }
}
