/* SIGN_UP STYLES */
.signup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid var(--light);
  border-radius: 0.5rem;
  box-shadow: #d9d9ea 0px 0px 10px 0px;
  background-color: var(--bg--light);
  font-family: var(--font-family-family);
  color: var(--light);
  width: 100%;
  max-width: 400px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.signup__input {
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid var(--dark);
  border-radius: 0.5rem;
  outline: none;
}

.signup__btn {
  width: 100%;
  max-width: 150px;
  background-color: var(--button);
  color: var(--light);
  font-size: var(--font-small);
  font-weight: var(--font-weight-bold);
  padding: 1rem;
  margin-top: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.signup__btn:hover {
  background-color: var(--button--hover);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .signup__container {
    width: 100%;
    max-width: 300px;
    margin: 2rem;
  }

  .signup__form {
    width: 100%;
    padding: 0.8rem;
    margin: 1rem auto;
  }

  .signup__input {
    width: 100%;
    border: 1px solid var(--light);
    background-color: transparent;
    margin-bottom: 1.5rem;
  }

  .signup__btn {
    width: 100%;
    max-width: 150px;
    background-color: var(--light);
    color: var(--dark);
  }

  .signup__btn:hover {
    background-color: transparent;
    color: var(--light);
  }
}
